ion-view
    ion-content.verification-content.padding
        p.description A verification email has been sent to {{vm.email}}. Please enter the code below to login.
        form.list(name="login" ng-submit="vm.verification(vm.code)")
            label.item.item-input
                input(type="text" ng-model="vm.code" placeholder="email verification code" required="")
            input.button.button-clear(type="submit" value="Enter" ng-disabled="!login.$valid")
