.error-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrapper-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  .error-title {
    font-family: 'RobotoRegular';
    color: $color-login-text;
    font-size: 24px;
    text-align: center;
  }
  .error-description {
    color: $color-login-text;
    font-family: "RobotoThin";
    font-size: 18px;
    text-align: center;
  }
  button.go-back {
    @include blue-button-block-app(47px);
  }
}