.profile-content {
  .wrapper-avatar {
    text-align: center;
    img {
      max-width: 216px;
      max-height: 216px;
    }
  }
  .row {
    padding: 0;
    .col {
      padding: 0;
      label.item.item-input {
        padding: 0;
        height: 28px;
        border: none;
        border-bottom: 1px solid $color-border-login-input;
        margin: 15px 0;
        .icon {
          min-width: 28px;
          text-align: center;
          font-size: 20px;
        }
        select {
          right: inherit;
          padding-left: 0;
          max-width: 100%;
          width: 100%;
          direction: ltr;
          font-size: 16px;
          font-family: 'RobotoRegular';
          color: $color-text;
          option {
            width: 100px !important;
            max-width: 100px !important;
            min-width: 100px !important;
          }
        }
        input {
          font-size: 16px;
          font-family: 'RobotoRegular';
          color: $color-text;
        }
      }
      &:first-child {
        label.item.item-input {
          margin-right: 10px;
        }
      }
      &.checkbox-location {
        display: flex;
        align-items: flex-end;
        .item-checkbox {
          border: none;
          flex: 1;
          padding-left: 30px;
          color: $color-text;
          .checkbox {
            left: 0;
            padding: 7px 0;
          }

        }
      }
    }

  }
  label.item.item-input {
    padding: 0;
    border: none;
    border-bottom: 1px solid $color-border-login-input;
    input, textarea {
      padding: 0;
      height: 54px;
      font-size: 16px;
      font-family: 'RobotoRegular';
      color: $color-text;
    }
    textarea {
      padding-top: 20px;
      margin-top: 20px;
    }
  }
  .wrapper-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    .button-logout {
      background: $bg-blue-button-block-app;
      color: $color-white;
      display: block;
      max-height: 33px;
      min-height: 33px;
      line-height: 19px;
      font-size: 18px;
    }
  }
}