.profile-content {
  .wrapper-avatar {
    text-align: center;
    img {
      max-width: 216px;
      max-height: 216px;
    }
  }
  label.item {
    padding: 0;
    height: 28px;
    border: none;
    border-bottom: 1px solid $color-border-login-input;
    margin: 15px 0;
    font-family: 'RobotoRegular';
    .input-label {
      color: $color-text;
    }
    select{
      width: 100%;
      direction: ltr;
      padding-left: 0;
    }
  }
  .item.item-toggle {
    border: none;
    padding-left: 1px;
    color: $color-text;
    .toogle {
      right: 1px;
    }
  }
}