$color-black: #000000;
$color-text: #808080;
$color-border-login-input: #c8c8c8;
$bg-app: #F0F0F0;
$color-white: #ffffff;
$bg-blue-button-block-app: #11c1f3;

@mixin login-verification-form($margin-label, $margin-button) {
  label.item.item-input {
    width: calc(100% - 47px);
    margin: $margin-label auto;
    padding: 0;
    border: none;
    border-bottom: 1px solid $color-border-login-input;
    input {
      height: 46px;
      padding: 0;
      color: $color-text;
      font-family: "RobotoRegular";
    }
  }
  input[type="submit"] {
    width: calc(100% - 78px);
    margin: 40px auto;
  }
}

@mixin list() {
  .item-content {
    display: flex;
    align-items: center;
    padding-right: 16px;
    .avatar {
      width: 40px;
      height: 40px;
      background: no-repeat center;
      margin-right: 16px;
      border-radius: 50%;
      background-size: cover;
    }
    .wrapper-text {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      h2 {
        color: $color-black;
      }
      p {
        color: $color-text;
      }
    }
    .icon {
      &.ion-image {
        position: relative;
        font-size: 20px;
        left: -6px;
      }
      &.ion-record {
        font-size: 20px;
        color: #7e7e7e;
        &.connected {
          color: green;
        }
      }
    }
  }
}