$color-icon-toolbar: #027388;
$bg-toolbar: #02bbd2;
$bg-app: #F0F0F0;
$bg-blue-button-block-app: #11c1f3;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #808080;
$color-border-login-input: #c8c8c8;
$color-delete-account-button: #fd676a;
$color-hide-profile-button: #d9d9d9;
$color-contact-us-button: #47d9d8;
$color-see-button: #666666;

@mixin login-verification-form($margin-label, $margin-button) {
  label.item.item-input {
    width: calc(100% - 47px);
    margin: $margin-label auto;
    padding: 0;
    border: none;
    border-bottom: 1px solid $color-border-login-input;
    input {
      height: 46px;
      padding: 0;
      color: $color-text;
      font-family: "RobotoRegular";
    }
  }
  input[type="submit"] {
    width: calc(100% - 78px);
    margin: 40px auto;
  }
}

@mixin list() {
  .item-content {
    display: flex;
    align-items: center;
    padding-right: 16px;
    img {
      width: 40px;
      margin-right: 16px;
    }
    .wrapper-text {
      display: flex;
      flex-direction: column;
      flex: 1;
      h2 {
        color: #434343;
      }
      p {
        color: #747474;
      }
    }
    i {
      font-size: 24px;
    }
  }
}