$color-icon-toolbar: #027388;
$bg-toolbar: #02bbd2;
$bg-app: #F0F0F0;
$bg-blue-button-block-app: #6bcdfd;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #808080;
$color-border-login-input: #c8c8c8;
$color-delete-account-button: #fd676a;
$color-hide-profile-button: #d9d9d9;
$color-contact-us-button: #47d9d8;
$color-see-button: #666666;

@mixin blue-button-block-app($margin-button) {
  background: $bg-blue-button-block-app;
  color: $color-white;
  width: calc(100% - 78px);
  margin: $margin-button auto;
  display: block;
  text-transform: uppercase;
}

@mixin login-verification-form($margin-label, $margin-button) {
  label.item.item-input {
    width: calc(100% - 47px);
    margin: $margin-label auto;
    padding: 0;
    border: none;
    border-bottom: 1px solid $color-border-login-input;
    input {
      height: 46px;
      padding: 0;
      color: $color-text;
      font-family: "RobotoRegular";
    }
  }
  input[type="submit"] {
    @include blue-button-block-app($margin-button);
  }
}

@mixin list() {
  .list {
    .item {
      display: flex;
      align-items: center;
      > i.icon {
        font-size: 53px;
      }
      .wrapper-text {
        flex: 1;
        margin-left: 13px;
        .first {
          color: #434343;
          font-size: 18px;
        }
        .second {
          color: #747474;
          font-size: 16px;
        }
        .third {
          color: #747474;
          font-size: 14px;
        }
      }
      .wrapper-date {
        text-align: center;
        .date {
          color: #747474;
          font-size: 14px;
          font-family: 'RobotoLight';
        }
        i.icon {
          font-size: 24px;
        }
      }
    }
  }
}