ion-view
    ion-nav-title.logo Messages
    ion-content.messages-page
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="vm.doRefresh()")
        ion-list
            ion-item.item-avatar.item-icon-right(ng-repeat="item in vm.list", ng-click="vm.message(item.userId)")
                img(ng-src="{{item.imageLink || 'assets/images/avatar.png'}}")
                .wrapper-text
                    h2 {{item.userName || 'No name'}}
                i.icon.ion-compose
                //ion-option-button.button-calm(ng-click="vm.add(item)") Add
                //ion-option-button.button-balanced(ng-click="vm.message(item.userId)") Message