ion-view
    ion-nav-title.logo Messages
    ion-content.messages-page
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="vm.doRefresh()")
        ion-list
            ion-item.item-content.item-icon-right(ng-repeat="item in vm.list", ng-click="vm.message(item.userId)")
                img(ng-src="{{item.imageLink || 'assets/images/avatar.png'}}", ng-click="$event.stopPropagation()", ui-sref="app.user({id:item.userId})")
                .wrapper-text
                    h2 {{item.userName || 'No name'}}
                i.icon.ion-compose



