ion-view
    ion-nav-title.logo Messages
    ion-content.messages-page
        .list
            .item(ng-repeat="chat in vm.chats")
                //img.avatar(ng-src="{{vm.user.avatar||'assets/images/avatar.png'}}")
                //.wrapper-text
                    p.first [Mail.Form]
                    p.second [Mail.Subject]
                    p.third [Mail.Body]
                //.wrapper-date
                    p.date [Sent.Date]
                    i.icon.ion-trash-b

