/* Empty. Add your own CSS if you like */


/*.mck-sidebox {
  top: 54px !important;
}*/

/*
.mck-box-top {
     display:none !important;
}*/

.mck-sidebox.mck-fade.in {
    width: 100% !important;
}

.mck-box-dialog {
    width: 100% !important;
}

.mck-sidebox-launcher {
    display: none;
}

#mck-sidebox {
    height: calc(100% - 54px) !important;
    top: 54px;
}
