<!-- build:js vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({app}) app.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- inject:partials -->
<!-- endinject -->
<!-- endbuild -->
<script src="cordova.js"></script>
<script type="text/javascript" src="assets/applozic/js/mck-ui-plugins.min.js"></script>
<script type="text/javascript" src="assets/applozic/js/mck-ui-widget.min.js"></script>
<script type="text/javascript" src="assets/applozic/js/mck-emojis.min.js"></script>
<script type="text/javascript" src="assets/applozic/js/mck-socket.min.js"></script>
<script type="text/javascript" src="assets/applozic/js/locationpicker.jquery.min.js"></script>
<script type="text/javascript" src="assets/applozic/js/app/mck-common-1.0.js"></script>
<script type="text/javascript" src="assets/applozic/js/app/mck-sidebox-1.0.js"></script>
<script type="text/javascript">var oModal = "";if (typeof $original !== 'undefined') {$ = $original;jQuery = $original;if (typeof $.fn.modal === 'function') {oModal = $.fn.modal.noConflict();}} else {$ = $applozic;jQuery = $applozic;if (typeof $applozic.fn.modal === 'function') {oModal = $applozic.fn.modal.noConflict();}}</script>