#mck-side-panel
    #mck-sidebox.mck-sidebox.mck-box.mck-fade
        .mck-box-dialog.mck-box-sm.mck-right.mck-bg-white
            #mck-sidebox-content.mck-sidebox-content.mck-box-content
                #mck-conversation-header.mck-conversation-header.mck-truncate.n-vis
                .mck-box-top
                    .blk-lg-2
                        .icon.ion-android-arrow-back.move-right(data-dismiss='mckbox')
                    .blk-lg-8
                        #mck-tab-individual.mck-row.n-vis
                            .mck-box-title
                                #mck-tab-title.mck-tab-title.mck-truncate
                                #mck-tab-status.mck-tab-status.mck-truncate.n-vis
                                .mck-typing-box.mck-truncate.n-vis
                                    span.name-text
                                    span typing...
                    #mck-tab-option-panel
                        #mck-tab-menu-box.mck-tab-menu-box.vis
                            .mck-row
                                .blk-lg-2.move-right
                                    .mck-dropdown-toggle(data-toggle='mckdropdown', aria-expanded='true')
                                        .icon.ion-android-more-vertical
                                    ul#mck-tab-menu-list.mck-dropdown-menu.mck-tab-menu-box.menu-right(role='menu')
                                        li.mck-tab-message-option
                                            a#mck-delete-button.mck-delete-button.menu-item( title='Clear Messages')
                                                | Clear Messages
                                        li#li-mck-block-user
                                            a#mck-block-button.menu-item( title='Block User')
                                                | Block User
                .mck-box-body
                    #mck-message-cell.mck-tab-cell.mck-message-cell
                        .mck-message-inner
                #mck-sidebox-ft.mck-box-ft
                    .mck-box-form.n-vis
                        p#mck-msg-error.mck-sidebox-error.n-vis
                        #mck-msg-response.mck-box-response.n-vis
                            #mck-response-text.response-text
                        form#mck-msg-form.vertical.mck-msg-form
                            .mck-form-group.n-vis
                                label.sr-only.placeholder-text.control-label(for='mck-msg-to') To:
                                input#mck-msg-to.mck-form-cntrl(name='mck-msg-to', placeholder='To', required='')
                            .mck-form-group.last.last-child
                                label.sr-only.placeholder-text.control-label(for='mck-textbox') Message
                                #mck-textbox-container.mck-textbox-container
                                    .mck-blk-2.mck-text-box-panel.mck-mid-panel.move-left
                                        #mck-attachmenu-box.mck-blk-12
                                            button#mck-btn-attach.mck-btn.mck-btn-text-panel.mck-btn-attach(type='button', aria-expanded='true', title='Attach File')
                                                span.mck-icon-upload
                                        #mck-attachfile-box.mck-blk-12.n-vis
                                            button#mck-file-up2.mck-file-upload.mck-btn.mck-btn-text-panel(type='button', title='Attach File')
                                                span.mck-icon-upload
                                    #mck-text-box.mck-blk-6.mck-text-box.mck-text.no-fastclick.required(contenteditable='true')
                                    .mck-blk-2.mck-text-box-panel.move-right
                                        .mck-blk-12
                                            button#mck-msg-sbmt.mck-btn.mck-btn-text-panel(type='submit', title='Send Message')
                                                span.mck-icon-send
                                    input#mck-file-input.mck-file-input.n-vis(type='file', name='files[]')
                                    #mck-file-box.n-vis