@import 'scss/_font';
@import 'scss/_variables';

body {
  font-family: 'RobotoRegular';
  ::-webkit-input-placeholder {
    color: $color-text;
  }
  ::-moz-placeholder {
    color: $color-text;
  }
  :-moz-placeholder {
    color: $color-text;
  }
  :-ms-input-placeholder {
    color: $color-text;
  }
  ion-header-bar {
    font-family: 'RobotoBold';
  }
  ion-side-menu {
    ion-content {
      a.selected {
        color: $bg-blue-button-block-app;
      }
    }
  }
  .button-block {
    text-transform: uppercase;
    font-family: 'RobotoRegular';
  }
  .padding {
    padding: 16px;
  }
  .height-100 {
    height: 100%;
  }
  .col-60 {
    max-width: 60%;
    flex: 0 0 60%;
  }
}

@import 'scss/login';
@import 'scss/verification';
@import 'scss/error';
@import 'scss/messages';
@import 'scss/connections';
@import 'scss/settings';
@import 'scss/profile';
@import 'scss/support';
@import 'scss/search';

.popover-backdrop {
  z-index: 9999999;
}

.popover-menu {
  height: auto;
}

#mck-sidebox-launcher {
  display: none;
}

.mck-sidebox {
  left: auto;
  //box-shadow: none;
  .mck-box-dialog {
    min-width: 310px;
    .mck-box-content {
      display: flex !important;
      flex-direction: column;
      .mck-box-top {
        max-height: 44px;
        min-height: 44px;
        .mck-top-btn-panel {
          background: transparent;
          padding: 0;
        }
        .mck-box-title {
          padding-left: 10px;
        }
        .icon {
          font-size: 24px;
          text-align: center;
          margin: 0;
        }
        .mck-dropdown-menu.menu-right,
        .mck-dropup-menu.menu-right {
          right: -5px;
        }
      }
      .mck-box-body {
        padding: 0;
        flex: 1;
        overflow: auto;
      }
      .mck-form-group {
        margin: 5px 0;
      }
    }
  }
}