@import 'scss/_font';
@import 'scss/_variables';

body {
  font-family: 'RobotoRegular';
  ::-webkit-input-placeholder {
    color: $color-text;
  }

  ::-moz-placeholder {
    color: $color-text;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    color: $color-text;
  }

  /* Firefox 18- */
  :-ms-input-placeholder {
    color: $color-text;
  }
}

ion-header-bar {
  background: $bg-toolbar !important;
  color: $color-white;
  font-family: 'RobotoBold';
  button.open-menu, button.close-menu {
    color: $color-icon-toolbar !important;
  }
}

ion-side-menu {
  ion-content {
    a.selected {
      background-color: $bg-blue-button-block-app;
      color: $color-white;
    }
  }
}

.padding {
  padding: 16px;
}

.height-100 {
  height: 100%;
}

.col-60 {
  max-width: 60%;
  flex: 0 0 60%;
}

.save-profile {
  color: $color-white !important;
  font-size: 17px;
}

@import 'scss/login';
@import 'scss/verification';
@import 'scss/error';
@import 'scss/messages';
@import 'scss/connections';
@import 'scss/settings';
@import 'scss/profile';
@import 'scss/support';
@import 'scss/search';

.popover-backdrop {
  z-index: 9999999;
}

.popover-menu {
  height: auto;
}

#mck-sidebox-launcher {
  display: none;
}

.mck-sidebox {
  height: 100%;
  right: 0;
  left: auto;
  margin: 0;
  border: 0;
  padding-left: 0;
  box-shadow: none;
  border-radius: 0;
  line-height: 18px;
  min-width: 310px;
}

.mck-sidebox .mck-box-body {
  padding: 0;
  //position: absolute;
  //width: 100%;
  //height: 100%;
  //top: 0;
  //bottom: 0;
  //overflow: hidden;
}

.mck-box-body .mck-tab-cell {
  width: 100%;
  //height: 100%;
  overflow: auto;
  position: absolute;
  //padding-bottom: 10px;
  //-webkit-overflow-scrolling: touch;
}