@import 'scss/_font';
@import 'scss/_variables';

body {
  font-family: 'RobotoRegular';
  ::-webkit-input-placeholder {
    color: $color-text;
  }
  ::-moz-placeholder {
    color: $color-text;
  }
  :-moz-placeholder {
    color: $color-text;
  }
  :-ms-input-placeholder {
    color: $color-text;
  }
  ion-header-bar {
    font-family: 'RobotoBold';
  }
  ion-side-menu {
    ion-content {
      a.selected {
        color: $bg-blue-button-block-app;
      }
    }
  }
  .button-block {
    text-transform: uppercase;
    font-family: 'RobotoRegular';
  }
  .padding {
    padding: 16px;
  }
  .height-100 {
    height: 100%;
  }
  .col-60 {
    max-width: 60%;
    flex: 0 0 60%;
  }
  .card {
    .item {
      white-space: normal;
    }
  }
  .list {
    margin-bottom: 0;
  }

}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  padding: 16px;
}

@import 'scss/login';
@import 'scss/verification';
@import 'scss/error';
@import 'scss/messages';
@import 'scss/connections';
@import 'scss/settings';
@import 'scss/profile';
@import 'scss/support';
@import 'scss/search';
@import "scss/mck_sidebox";
@import "scss/forgot";