ion-view
    ion-nav-title.logo Support
    ion-content.support-page.padding
        button.button.button-block.help(ng-click='vm.showFAQs()') Help
        button.button.button-block.button-calm.contact-us(ng-click='vm.showConversation()') Contact Us
