ion-view
    ion-nav-title.logo Support
    ion-content.support-page
        button.button.button-clear.help(ng-click='vm.showFAQs()') Help
        button.button.button-clear.contact-us(ng-click='vm.showConversation()') Contact Us
