ion-view
    ion-content.error-content.padding(scroll="false")
        .wrapper
            img
            h2.error-title Dang! Couldn’t Sign In
            p.error-description Your username and password don’t match. Please try again.
        button.button.button-clear.go-back(ui-sref="login") Try again