ion-view
    ion-content.error-content.padding(scroll="false")
        .wrapper
            .wrapper-logo
                img.logo(src='./assets/images/logo_3.png')
            h2.error-title Dang! Couldn’t Sign In
            p.error-description Your username and password don’t match. Please try again.
        button.button.button-block.button-calm.go-back(ui-sref="login") Try again