ion-view
    ion-nav-title.logo Connections
    ion-content.connections-page
        ion-list
            ion-item(ng-repeat="item in vm.connections", ng-click="vm.message(item._id)")
                img(ng-src="{{item.avatar||'assets/images/avatar.png'}}")
                .wrapper-text
                    h2 {{item.username || 'No name'}}
                    p {{item.pronouns}}
                ion-option-button.button-assertive(ng-click="vm.remove(item._id)") Remove
