ion-view
    ion-nav-title.logo Connections
    ion-content.connections-page
        ion-list
            ion-item(ng-repeat="item in vm.connections", ui-sref="app.user({id:item._id})")
                .avatar(style="{{item.avatar ? 'background-image:url('+item.avatar+')' : 'background-image:url(assets/images/avatar.png)'}}")
                .wrapper-text
                    h2 {{item.username || 'No name'}}
                    p {{item.pronouns}}
                ion-option-button.button-assertive(ng-click="vm.remove(item._id)") Remove
