ion-view
    ion-nav-title.logo Connections
    ion-content.connections-page
        .list
            .item
                img.avatar(src="assets/images/avatar.png")
                .wrapper-text
                    p.first Username
                    p.second Pronouns
                .wrapper-date
                    i.icon.ion-email
