ion-view
    ion-nav-title.logo Connections
    ion-content.connections-page
        .list
            .item
                img.avatar(ng-src="{{vm.user.avatar}}")
                .wrapper-text
                    p.first Username
                    p.second Pronouns
                .wrapper-date
                    i.icon.ion-email
