ion-view
    ion-nav-buttons(side='right')
        button.button.button-icon.ion-android-more-vertical.open-filter(ng-click="vm.modal.show()")
    ion-nav-title.logo Search

    ion-content.search-page
        ion-refresher(pulling-text="Pull to refresh..." on-refresh="vm.doRefresh()")
        ion-list
            ion-item(ng-repeat="item in vm.list", ui-sref="app.user({id:item._id})")
                .avatar(style="{{item.avatar ? 'background-image:url('+item.avatar+')' : 'background-image:url(assets/images/avatar.png)'}}")
                .wrapper-text
                    h2 {{item.username || 'No name'}}
                    p {{item.pronouns}}
                ion-option-button.button-calm(ng-click="$event.stopPropagation(); vm.add(item)" ng-if="item.connectedBy.indexOf(vm.profile._id) === -1") Add
                ion-option-button.button-assertive(ng-click="$event.stopPropagation(); vm.remove(item._id)" ng-if="item.connectedBy.indexOf(vm.profile._id) !== -1") Remove
        ion-infinite-scroll(ng-if="vm.moreDataCanBeLoaded" on-infinite='vm.load()', distance='1%')
