ion-view
    ion-nav-buttons(side='right')
        button.button.button-icon.ion-android-more-vertical.open-filter(ng-click="vm.modal.show()")
    ion-nav-title.logo Search

    ion-content.search-page
        ion-list
            ion-item(ng-repeat="item in vm.list", ng-click="vm.message(item._id)")
                img(ng-src="{{item.avatar||'assets/images/avatar.png'}}")
                .wrapper-text
                    h2 {{item.username || 'No name'}}
                    p {{item.pronouns}}
                ion-option-button.button-calm(ng-click="$event.stopPropagation(); vm.add(item)" ng-if="item.connectedBy.indexOf(vm.user._id) === -1") Add
        ion-infinite-scroll(ng-if="vm.showInfinite" on-infinite='vm.load()', distance='2%')
