ion-view
    ion-nav-title.logo Search
    ion-content.search-page
        ion-list
            ion-item(ng-repeat="item in vm.list")
                img(ng-src="{{item.imageLink||'assets/images/avatar.png'}}")
                .wrapper-text
                    h2 {{item.email}}
                    p {{item.username}}
                i.icon.ion-arrow-return-left
                ion-option-button.button-calm(ng-click="vm.add(item)") Add
                ion-option-button.button-balanced(ng-click="vm.message(item._id)") Message
        ion-infinite-scroll(ng-if="vm.showInfinite" on-infinite='vm.load()', distance='2%')