ion-view
    ion-nav-title.logo Search
    ion-content.search-page
        .list
            .item(ng-repeat="item in vm.list")
                img.avatar(ng-src="{{item.avatar||'assets/images/avatar.png'}}")
                .wrapper-text
                    p.first {{item.email}}
                    p.second {{item.pronouns}}
                    p.third {{item.bio}}
                .wrapper-date
                    p.date [Sent.Date]
        ion-infinite-scroll(ng-if="vm.showInfinite" on-infinite='vm.load()', distance='2%')