ion-view
    ion-content.login-content.padding(scroll='false')
        .wrapper-logo
            img.logo(src='./assets/images/logo_2.png')
        form.list(name="login" ng-submit="vm.login(vm.user)")
            label.item.item-input
                input(type="email" ng-model="vm.user.email" placeholder="email" required="")
            label.item.item-input
                input(type="password" ng-model="vm.user.password" placeholder="password" required="")
            input.button.button-block.button-calm(type="submit" value="Enter" ng-disabled="!login.$valid")
