doctype
html
    include components/_global/_global.header.jade

    body.ng-cloak(ng-app="app")
        ion-nav-view
        include components/_global/_global.applozic.jade
        include components/_global/_global.footer.jade
